.header {
	height: 300px;
	background: url("../img/header.jpg") no-repeat center;
	background-size: cover;
	color: #ffc107;
	text-align: center;
}
.main{
	margin-top: 3rem;
}
.block{
	padding: 1rem;
	background-color: white;
}
.table{
	display:none;
}